# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local

# ONNX Runtime WASM binaries and assets
public/*.mjs
public/*.wasm
public/onnxruntime-web/*
src/assets/onnxruntime-web/*
src/assets/onnxruntime/*.wasm
src/assets/onnxruntime/*.mjs