# Python
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/
.venv


# Byte-compiled / optimized / DLL files
data/audio/*
data/cache/*
data/supervised/*

# Test output
tests/fixtures/*.json

# curriculum visualization files
curriculum_viz/curriculum_visualization.png
curriculum_viz/curriculum.gif

# Copilot's verbose markdown files
docs/copilot/*